{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets  filter='scssphp, cssrewrite' output='css/app.css'
        '@TestBundle/Resources/public/sass/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets%}
{% endblock %}

{% block body%}
    <h1>First template</h1>
    <ul>
        <li>Renderizar una plantilla</li>
        <li>Meter css</li>
        <li>Usar assetic</li>
    </ul>
{% endblock %}